sumtwonumclnt/src/main/resources/wsdl/sum2num.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.crom.sf/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MyMathInterfaceService" targetNamespace="http://services.crom.sf/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.crom.sf/" elementFormDefault="unqualified" targetNamespace="http://services.crom.sf/" version="1.0">

  <xs:element name="sum" type="tns:sum"/>

  <xs:element name="sumResponse" type="tns:sumResponse"/>

  <xs:complexType name="sum">
    <xs:sequence>
      <xs:element name="a" type="xs:int"/>
      <xs:element name="b" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sumResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sum">
    <wsdl:part element="tns:sum" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumResponse">
    <wsdl:part element="tns:sumResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyMathInterface">
    <wsdl:operation name="sum">
      <wsdl:input message="tns:sum" name="sum">
    </wsdl:input>
      <wsdl:output message="tns:sumResponse" name="sumResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyMathInterfaceServiceSoapBinding" type="tns:MyMathInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sum">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyMathInterfaceService">
    <wsdl:port binding="tns:MyMathInterfaceServiceSoapBinding" name="MyMathInterfacePort">
      <soap:address location="http://localhost:8090/SumTwoNumbersSoap/services/sum2num"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>